# Example tfvars matching the JSON input format
# Copy to terraform.tfvars and customize

region = "us-east-1"

s3 = {
  bucket_name   = "aws-snowflake-project"
  bucket_keys   = ["raw-data/csv", "raw-data/json"]
  versioning    = true
  kms_key_alias = "SB-KMS"
}
